
.vs/ProjectSettings.json
.vs/SeaSharpEnjoyer.github.io/config/applicationhost.config
.vs/SeaSharpEnjoyer.github.io/FileContentIndex/fb58107d-aa24-4834-bb09-219bc3e9964b.vsidx
.vs/SeaSharpEnjoyer.github.io/v17/.wsuo
.vs/SeaSharpEnjoyer.github.io/v17/DocumentLayout.json
.vs/slnx.sqlite
/.vs
